<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beerdev.androidapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    
    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permission to write to external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:icon="@drawable/icon_mini"
        android:label="@string/app_name" 
        android:theme="@style/CustomActionBarTheme">
        <activity
            android:label="@string/app_name"
            android:name="com.beerdev.androidapp.MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
				
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    	<!-- ListView Activity -->
        <activity
            
          android:screenOrientation="portrait"
            android:label=""
            android:launchMode="singleTop"
            android:name="com.beerdev.androidapp.ListViewActivity" >
             
        </activity>
        <!-- OmOss Activity -->
        <activity
            
            android:label=""
            android:name="com.beerdev.androidapp.OmOss" >
        </activity>
    
        <!-- Swipe View Activity -->
        <activity
            android:launchMode="singleTop"
          android:screenOrientation="portrait"
            android:label=""
            android:name="com.beerdev.androidapp.SwipeViewActivity" >
             
        </activity>
		<receiver android:name=".NetworkStateReceiver">
			   <intent-filter>
			      <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			   </intent-filter>
		</receiver>
		<!-- Search results activity -->
        <activity android:name=".SearchResultsActivity"
            android:parentActivityName="com.beerdev.androidapp.ListViewActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>
        <!-- OmKistan activity -->
        <activity
            android:label=""
            android:name="com.beerdev.androidapp.OmKistan" >
        </activity>
    	<!-- OmKategorier activity -->
        <activity
            android:label=""
            android:name="com.beerdev.androidapp.OmKategorier" >
        </activity>
    </application>

</manifest>
